* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #e2e8f0;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .body {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Space for header */
  }

  @media (max-width: 768px) {
    .body {
      flex-direction: column;
    }

    sidebar {
      position: static;
      width: 100%;
      box-shadow: none;
    }
  }